<nav>
    <div class="navLeft">
        <!-- <img src="" alt=""> -->
        <a href="/">
            <h1 class="sitename">Coven's Stash</h1>
        </a>
    </div>
    <div class="navRight">
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/items">
                <li>Items</li>
            </a>
            <a href="/items/add">
                <li>Add item</li>
            </a>
        </ul>
    </div>
</nav>